---
import JobEntry from "../components/JobEntry.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { JobListingProps } from "../types/types";

const allJobs = await Astro.glob<JobListingProps>("./jobs/*md");
const reverseActiveJobs = allJobs
  .filter((job) => job.frontmatter.isActive)
  .reverse();
const reverseInactiveJobs = allJobs
  .filter((job) => !job.frontmatter.isActive)
  .reverse();

const pageTitle = "Active jobs";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      reverseActiveJobs.map((job) => {
        return <JobEntry job={job} />;
      })
    }
  </ul>

  <h2>Inactive jobs</h2>
  {
    reverseInactiveJobs.map((job) => {
      return <JobEntry job={job} />;
    })
  }
</BaseLayout>
