---
import JobList from "../components/JobList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { JobListingProps } from "../types/types";

const allJobs = await Astro.glob<JobListingProps>("./jobs/*md");
const reversedJobs = allJobs.reverse();
const activeJobs = reversedJobs.filter((job) => job.frontmatter.isActive);
const inactiveJobs = reversedJobs.filter((job) => !job.frontmatter.isActive);

const pageTitle = "Active jobs";
---

<BaseLayout pageTitle={pageTitle}>
  <JobList jobsList={activeJobs} />

  <h2>Inactive jobs</h2>

  <JobList jobsList={inactiveJobs} />
</BaseLayout>
