---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <a href="/openings">Check out the latest openings here</a>
</BaseLayout>
