---
import CompanyFilterButton from "../components/CompanyFilterButton.astro";
import OpeningsList from "../components/OpeningsList.astro";
import { fetchOpenings } from "../helpers/fetch-data.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allOpenings = await fetchOpenings();

const uniqueCompanies = [
  ...new Set(allOpenings.map((opening) => opening.frontmatter.company)),
];

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle} displayContactBanner>
  <div class="company-tags-wrapper">
    {
      uniqueCompanies.map((company) => {
        return <CompanyFilterButton company={company} />;
      })
    }
  </div>

  <OpeningsList openingsList={allOpenings} />
</BaseLayout>

<style>
  .company-tags-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
</style>
