---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>UA Job Portal</title>
  </head>
  <body>
    <Navigation />

    <h1>Jobs</h1>

    <ul>
      <li><a href="/jobs/job-1">Senior React Developer (Remote)</a></li>
      <li>
        <a href="/jobs/job-2">Junior React Developer at Google (Remote)</a>
      </li>
    </ul>
  </body>
</html>
