---
import Header from "../components/Header.astro";
import "../styles/global.css";

const allJobs = await Astro.glob("./jobs/*md");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>UA Job Portal</title>
  </head>
  <body>
    <Header />

    <main>
      <h1>Jobs</h1>

      <ul>
        {
          allJobs.map((job) => {
            return (
              <li>
                <a>{job.title}</a>
              </li>
            );
          })
        }
        <li><a href="/jobs/job-1">Senior React Developer (Remote)</a></li>
        <li>
          <a href="/jobs/job-2">Junior React Developer at Google (Remote)</a>
        </li>
      </ul>
    </main>
  </body>
</html>
