---
import OpeningsList from "../components/OpeningsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { OpeningProps } from "../types/types";

const allOpenings = await Astro.glob<OpeningProps>("./jobs/*md");
const reversedOpenings = allOpenings.reverse();
const activeOpenings = reversedOpenings.filter(
  (job) => job.frontmatter.isActive
);
const inactiveOpenings = reversedOpenings.filter(
  (job) => !job.frontmatter.isActive
);

const pageTitle = "Active jobs";
---

<BaseLayout pageTitle={pageTitle}>
  <OpeningsList openingsList={activeOpenings} />

  <h2>Inactive jobs</h2>

  <OpeningsList openingsList={inactiveOpenings} />
</BaseLayout>
