---
import OpeningsList from "../components/OpeningsList.astro";
import { fetchOpenings } from "../helpers/fetch-data.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allOpenings = await fetchOpenings();
const reversedOpenings = allOpenings.reverse();
const activeOpenings = reversedOpenings.filter(
  (job) => job.frontmatter.isActive,
);
const inactiveOpenings = reversedOpenings.filter(
  (job) => !job.frontmatter.isActive,
);

const pageTitle = "Active jobs";
---

<BaseLayout pageTitle={pageTitle}>
  <OpeningsList openingsList={activeOpenings} />

  <h2>Inactive jobs</h2>

  <OpeningsList openingsList={inactiveOpenings} />
</BaseLayout>
