---
import JobList from "../components/OpeningsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { OpeningProps } from "../types/types";

const allJobs = await Astro.glob<OpeningProps>("./openings/*md");
const reversedJobs = allJobs.reverse();
const activeJobs = reversedJobs.filter((job) => job.frontmatter.isActive);
const inactiveJobs = reversedJobs.filter((job) => !job.frontmatter.isActive);

const pageTitle = "Active jobs";
---

<BaseLayout pageTitle={pageTitle}>
  <JobList openingsList={activeJobs} />

  <h2>Inactive jobs</h2>

  <JobList openingsList={inactiveJobs} />
</BaseLayout>
