---
import TipEntry from "../components/TipEntry.astro";
import { fetchTips } from "../helpers/fetch-data.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle =
  "Find your next business job in tech. In Ireland and remote in Europe.";

const tips = await fetchTips();
---

<BaseLayout pageTitle={pageTitle} displayContactBanner>
  <h1>
    {pageTitle}
  </h1>

  <ul>
    {
      tips.map((post) => {
        return <TipEntry post={post} />;
      })
    }
  </ul>
</BaseLayout>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  h1 {
    text-align: center;
    margin-bottom: 24px;
  }
</style>
