---
import TipEntry from "../components/TipEntry.astro";
import { fetchTips } from "../helpers/fetch-data.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle =
  "Find your next business job in tech. In Ireland and remote in Europe.";

const tips = await fetchTips();
---

<BaseLayout pageTitle={pageTitle} displayContactBanner>
  <h1 class="mb-6 text-center">
    {pageTitle}
  </h1>

  <ul class="flex flex-wrap gap-8 justify-center md:justify-start">
    {
      tips.map((post) => {
        return <TipEntry post={post} />;
      })
    }
  </ul>
</BaseLayout>
