---

---

<button class="back-button">Back</button>

<style>
  button {
    border: 1px solid transparent;
    background-color: rgb(var(--gray));
    padding: 8px 24px;
    color: rgb(var(--gray-light));
    border-radius: 24px;
    margin-bottom: 24px;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(var(--gray-light));
    color: rgb(var(--gray));
    border: 1px solid rgb(var(--gray));
  }
</style>

<script>
  document
    .querySelector(".back-button")
    ?.addEventListener("click", () => window.history.back());
</script>
