---

---

<a href="#">
  <div class="banner">
    If you want to publish your openings, reach out to us here
  </div>
</a>

<style>
  .banner {
    display: flex;
    justify-content: center;
    background-color: rgb(var(--gray));
    color: white;
    padding: 12px;
    border-radius: 8px;
  }
</style>
