---

---

<a href="#" class="banner">
  Click here if you want to publish your openings with us
</a>

<style>
  a:hover {
    box-shadow: var(--box-shadow);
  }

  .banner {
    display: flex;
    justify-content: center;
    background-color: rgb(var(--gray));
    color: white;
    padding: 12px;
    border-radius: 24px;
    margin-bottom: 24px;
  }
</style>
