---

---

<a href="#">
  <div class="banner">
    Click here if you want to publish your openings with us
  </div>
</a>

<style>
  .banner {
    display: flex;
    justify-content: center;
    background-color: rgb(var(--gray));
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 24px;
  }
</style>
