---

---

<div class="banner">
  <p>
    Interested in posting your vacancies with us? Contact us <a href="#">here</a
    >
  </p>
</div>

<style>
  a {
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(var(--gray));
  }

  a:hover {
    color: rgb(var(--gray-dark));
  }

  .banner {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    p {
      color: rgb(var(--gray));
    }
  }
</style>
