---
import dayjs from "dayjs";

const today = dayjs();
---

<footer>
  <ul class="footer-links">
    <li>Request a 1:1 jobsearch consultation</li>
    <li>Post your job vacancy</li>
    <li><a href="mailto:bla@bla.bla">Contact us </a></li>
  </ul>

  <div>
    &copy; {`${today.year()} Made by `}<a
      href="https://www.peresola.com"
      target="_blank">peresola.com</a
    >
  </div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    background: rgb(var(--gray-light));
    color: rgb(var(--gray));
    text-align: center;
  }

  .footer-links {
    display: flex;
    align-items: center;
    gap: 24px;

    li {
      list-style: none;
      border-bottom: 2px solid transparent;
    }

    li:hover {
      border-bottom: 2px solid rgb(var(--gray));
      cursor: pointer;
    }
  }
</style>
