---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive =
  href === pathname ||
  href === "/" + subpath?.[0] ||
  (href === "/" && subpath?.[0] === "openings");
const linkVariants = {
  default: "inline-block no-underline p-6 border-b-4 border-transparent",
  notActive: "hover:text-blue-600",
  active:
    "font-bold underline hover:text-blue-600 border-b-4 border-b-blue-600",
};
---

<a
  href={href}
  class={`${linkVariants.default} ${isActive ? linkVariants.active : linkVariants.notActive}`}
  {...props}
>
  <slot />
</a>
