---
import type { OpeningProps } from "../types/types";

type Props = {
  opening: OpeningProps;
};

const { opening } = Astro.props;
---

<a href={opening.url} class="group">
  <li
    class="flex w-full flex-col gap-4 rounded border border-gray-300 p-4 group-hover:border-gray-600 group-hover:shadow-md group-hover:shadow-gray-300"
  >
    <h4 class="text-xl font-bold">{opening.frontmatter.title}</h4>

    <div class="flex flex-wrap justify-between">
      <p class="font-bold text-gray-600">{opening.frontmatter.company}</p>

      <p>{opening.frontmatter.location}</p>
    </div>
  </li>
</a>
