---
import type { OpeningProps } from "../types/types";

type Props = {
  opening: OpeningProps;
};

const { opening } = Astro.props;
---

<a href={opening.url}>
  <li
    class="flex w-full flex-col gap-4 rounded border-2 border-gray-300 p-4 hover:border-blue-600 hover:shadow"
  >
    <h4 class="font-bold text-xl">{opening.frontmatter.title}</h4>

    <div class="flex flex-wrap justify-between">
      <p class="font-bold text-gray-600">{opening.frontmatter.company}</p>

      <p>{opening.frontmatter.location}</p>
    </div>
  </li>
</a>
