---
import type { BlogpostProps } from "../types/types";
import FormattedDate from "./FormattedDate.astro";
Image;
import { Image } from "astro:assets";

const DEFAULT_IMAGE =
  "https://images.unsplash.com/photo-1485286162995-aa63d31c06cb?q=80&w=500";

type Props = {
  post: BlogpostProps;
};

const { post } = Astro.props;
---

<a href={post.url} class="group">
  <div
    class="flex h-80 min-w-72 max-w-80 flex-col gap-4 rounded border group-hover:border-gray-600 group-hover:shadow-md group-hover:shadow-gray-300"
  >
    <div class="h-52 overflow-hidden">
      <Image
        src={post.frontmatter.image ?? DEFAULT_IMAGE}
        alt=""
        inferSize
        class="w-full rounded object-cover object-center group-hover:shadow-md group-hover:shadow-black"
      />
    </div>

    <div class="flex flex-grow flex-col justify-between gap-2 p-3">
      <h4 class="text-xl font-bold">{post.frontmatter.title}</h4>

      <p><FormattedDate date={post.frontmatter.pubDate} /></p>
    </div>
  </div>
</a>
