---
import ContactBanner from "../components/ContactBanner.astro";
import BackButton from "../components/BackButton.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import { SimpleAnalytics } from "astro-simpleanalytics-plugin";

type Props = {
  pageTitle: string;
  shouldDisplayBack?: boolean;
  displayContactBanner?: boolean;
};

const {
  pageTitle,
  shouldDisplayBack = false,
  displayContactBanner = false,
} = Astro.props;
const publisherId = import.meta.env.PUBLISHER_ID;
const adUnitId = import.meta.env.AD_UNIT_ID;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- AdManager tag -->
    <script
      type="text/partytown"
      async
      src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
    <script type="text/partytown" define:vars={{ publisherId, adUnitId }}>
      window.googletag = window.googletag || { cmd: [] };
      googletag.cmd.push(function () {
        googletag
          .defineSlot(`/${adUnitId}/350x50`, [350, 50], publisherId)
          .addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });
    </script>
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <main>
      {shouldDisplayBack && <BackButton />}

      {displayContactBanner && <ContactBanner />}

      <div id={publisherId} class="min-w-[350px] min-h-[50px]">
        <script type="text/partytown" define:vars={{ publisherId }}>
          window.googletag.cmd.push(function () {
            window.googletag.display(publisherId);
          });
        </script>
      </div>

      <slot />
    </main>

    <Footer />

    <SimpleAnalytics />
  </body>
</html>
