---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";

const { frontmatter } = Astro.props;
const formattedData = dayjs(frontmatter.pubDate).format("MMM, D YYYY");
---

<BaseLayout pageTitle={frontmatter.title} shouldDisplayBack>
  <div class="markdown-wrapper">
    <div class="markdown-header">
      <h1>{frontmatter.title}</h1>

      <p class="publish-date">Published on: {formattedData}</p>
    </div>

    {frontmatter.isOpening && <p>{frontmatter.companyDescription}</p>}

    <slot />
  </div>
</BaseLayout>

<style>
  .markdown-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .markdown-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .publish-date {
    margin-bottom: 24px;
    color: rgb(var(--gray));
    font-style: italic;
  }
</style>
