---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} shouldDisplayBack>
  <p>Added on {frontmatter.pubDate.slice(0, 10)}</p>

  {frontmatter.isOpening && <p>{frontmatter.companyDescription}</p>}

  <slot />
</BaseLayout>
